<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
            <div class="box-header">
               <h4 class="box-title">Access Logs</h4>
            </div>
			<div class="box-body table-responsive">
				
				<table id="datatable_access" class="display" >
                    <thead>
                        <small>Showing last 1000 lines from access.log</small>
                    <tr>
                        <th>#</th>
                        <th>Logs</th>
                    </tr>
                    </thead>
                    <tbody><!--by now access logs will come from waf_logs function, next version will come in json from AccessLogs function-->
					 {{counter = 0}}
					 {{for row in access_logs: }}
					 {{counter +=1}}
						<tr>
						  <td style="width: 10px;" >{{=counter}} </td>
						  <td style="max-width: 600px; text-overflow: ellipsis; overflow: hidden;"> {{=row}}</td>
	
						</tr>
                    {{pass}}
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function (){
    $("#datatable_access").dataTable(
        {
            mark: true
        }
    )
    });
</script>
