<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
            <div class="box-header">
               <h4 class="box-title">Attack/Audit Log</h4>
                </div>
			<div class="box-body table-responsive">
				
				<table id="datatable_modsec" class="display" >
                    <thead>
                         <small>Showing last 1000 lines from audit.log</small>
                        <br>
                        <div align="right">
                            <h4>
                                <a class="label grey_light_bulma" onclick="download_modsec_json()"><i class="fa fa-download "></i> Download Full log</a>
                            </h4>
                        </div>
						<div id="download_modsec_json">
					    </div>
						<hr>
                    <tr>
                        <th>#</th>
                        <th>Logs</th>
                    </tr>
                    </thead>
                    <tbody><!--by now debug logs will come from waf_logs function, next version will come in json from AccessLogs function-->
					 {{counter_modsec = 0}}
					 {{for modsec in modsec_json_logs: }}
					 {{counter_modsec +=1}}
						<tr>
						  <td style="width: 10px;" >{{=counter_modsec}} </td>
						  <td style="max-width: 600px; text-overflow: ellipsis; overflow: hidden;"> {{=modsec}}</td>
	
						</tr>
                    {{pass}}
                    </tbody>
                </table>
			</div>
            <script>
				function download_modsec_json() {
					// add loading image to div
					$('#download_modsec_json').html('<i class="fa fa-spin fa-cog">');
			
					// run ajax request
					$.ajax({
						type: "GET",
						url: "/Waf2Py/Logs/DownloadModsecJson/{{=id_rand}}",
						success: function (data) {
							// replace div's content with returned data
							$("#download_modsec_json").html(data);
						}
					});
				};
			</script>
		</div>
	</div>
</div>
<script>
    $(document).ready(function (){
    $("#datatable_modsec").dataTable(
        {
            mark: true
        }
    )
    });
</script>
